.AboutPage {
    display: flex;
    flex-direction: column;
}

.AboutAlcarodianTitle {
  color: white;
  font-size: 75%;
  text-align: center;
  font-family: 'Alcarodian';
}

.Separator {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.LeftArrow {
  width: 20%;
  margin-left: 20px;
  margin-right: 15px;
}

.RightArrow {
  width: 20%;
  transform: scaleX(-1);
  margin-right: 20px;
}

.BookSummary {
  font-family: 'Times New Roman', Times, serif;
  white-space: pre-line;
}

.ANewWorld {
  filter: brightness(0) saturate(100%) invert(9%) sepia(21%) saturate(6288%) hue-rotate(189deg) brightness(101%) contrast(102%);
}

.Evergreen {
  -webkit-mask-image: url("../../../public/images/about/evergreen/Evergreen-Leaves.webp");
  mask-image: url("../../../public/images/about/evergreen/Evergreen-Leaves.webp");
  mask-repeat: no-repeat;
}

.Card, .Card:focus {
  outline:none !important;
  transform: scale(1);
  transition: transform 0.4s;
}

.Card:hover {
  transform: scale(1.02);
  transition: transform 0.4s;
}

.CardTitle {
  outline:none !important;
  font-size: 1.3em !important;
}

/* Timeline Headers / Separators */

.Timeline {
  margin-right: 2rem;  /* ? Counters a padding I spent an entire day trying to remove from a dynamic-class, function-generated element by react-chrono */
}

.TimelineHeader {
  display: flex;
  width: 100%;
  justify-content: center;
}

.TimelineTitle {
  color: white;
  cursor: default;
  font-size: 2vw;
  font-family: 'Alcarodian', sans-serif;
  animation: shadow-pulse 6s infinite ease-in-out, breathe 6s infinite ease-in-out;
  transition: color 0.3s ease-out;
  user-select: none; /* ? Prevent text selection */
}

.TimelineTitle:hover {
  color: #424242;
}

@keyframes shadow-pulse {
  50% {
      text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  }
}

@keyframes breathe {
  50% {
    letter-spacing: 0.01em;
  }
}







/* ! ORIGINAL CARD CSS ! source: https://codepen.io/maude/pen/XWbboPw */
.walkthrough {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  /* background: radial-gradient(#6027e1, #6546ad); */
  border-radius: 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  font-size: 13px;
  height: 464px;
  overflow: hidden;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 280px;
  z-index: 1000;
}
.walkthrough.show {
  display: flex;
  opacity: 0;
  transform: translateY(72px);
}
.walkthrough.reveal {
  opacity: 1;
  transform: translateY(0);
}
.walkthrough .walkthroughBody {
  align-items: center;
  display: flex;
  flex: 1;
  text-align: center;
}
.walkthrough .walkthroughBody .prevScreen, .walkthrough .walkthroughBody .nextScreen {
  align-self: stretch;
  background: none;
  border: 0;
  margin-top: 40px;
  color: rgba(112, 112, 112, 0.25);
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 24px;
  opacity: 1;
  outline: none;
  padding: 16px;
  transform: scale(1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
}
.walkthrough .walkthroughBody .prevScreen:hover, .walkthrough .walkthroughBody .nextScreen:hover, .walkthrough .walkthroughBody .prevScreen:active, .walkthrough .walkthroughBody .nextScreen:active {
  color: rgb(177, 177, 177);
  transform-origin: center;
  transform: scale(1.25);
}
.walkthrough .walkthroughBody .prevScreen:disabled, .walkthrough .walkthroughBody .nextScreen:disabled {
  opacity: 0;
}
.walkthrough .walkthroughBody .prevScreen {
  order: 1;
}
.walkthrough .walkthroughBody .nextScreen {
  order: 3;
}
.walkthrough .walkthroughBody .screens {
  flex: 1;
  align-self: stretch;
  position: relative;
  margin: 0 -16px;
  padding: 0;
  order: 2;
}
.walkthrough .walkthroughBody .screens .screen {
  position: absolute;
  list-style-type: none;
}
.walkthrough .walkthroughBody .media {
  height: 132px;
  margin: 32px auto;
  width: 132px;
}
.walkthrough .walkthroughBody {
  font-size: 15px;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.walkthrough .walkthroughBody, .BookSummary {
  line-height: 1.9em;
  font-size: 1em;
  padding-top: 0;
  color: rgba(255, 255, 255, 0.8);
}
.walkthrough .walkthroughPagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.walkthrough .walkthroughPagination .dot {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 8px;
  margin: 0 4px;
  transform: scale(0.75);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 8px;
}
.walkthrough .walkthroughPagination .dot.active {
  background: rgb(177, 177, 177);
  transform: scale(1);
  transition-delay: 0.4s;
}
.walkthrough .walkthroughFooter {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  padding: 0;
}
.walkthrough .walkthroughFooter .aboutButton {   /* deleted button here */
  height: 40px;
  border: 0;
  background: #5da3f2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-radius: 0;
  color: white;
  flex: 1;
  font-size: 12px;
  margin: 0;
  outline: 0;
  padding: 12px;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
.walkthrough .walkthroughFooter .aboutButton:hover {
  background: #6babf3;
}
.walkthrough .walkthroughFooter .aboutButton:active {
  background: #5da3f2;
}
.walkthrough .walkthroughFooter .aboutButton:disabled {
  cursor: pointer;
}
.walkthrough .walkthroughFooter .aboutButton.finish {
  background: #3e94f5;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .walkthroughFooter .aboutButton.finish:hover {
  background: #4d9cf6;
}
.walkthrough .walkthroughFooter .aboutButton.finish:active {
  background: #3e94f5;
}
.walkthrough .walkthroughFooter .aboutButton.finish.active {
  transform: scale(1, 1);
  opacity: 1;
}
.walkthrough .screens {
  margin: 0;
}
.walkthrough .screens .media .statusBadge {
  left: 136px;
  opacity: 0;
  position: absolute;
  top: 104px;
  transform: scale(0);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: 0.6s;
}
.walkthrough .screens .media .statusBadge i {
  display: inline;
}
.walkthrough .screens .media.logo .logo {
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  padding-top: 7px;
}
.walkthrough .screens .media .icon {
  position: absolute;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 132px;
  left: 48px;
  top: 32px;
}
.walkthrough .screens .media.bars .icon {
  transform: translate(40px, 20px);
}
.walkthrough .screens .media.bars .icon:nth-of-type(2) {
  transform: scale(0.25);
  transform-origin: 30% 54%;
}
.walkthrough .screens .media.bars .icon:nth-of-type(3) {
  transform: scale(0.25);
  transform-origin: 30% 40%;
}
.walkthrough .screens .media.bars .icon:nth-of-type(4) {
  transform: scale(0.25);
  transform-origin: 30% 26%;
}
.walkthrough .screens .media.files .icon {
  transform: translate(40px, 20px);
}
.walkthrough .screens .media.comm .icon {
  transform: scale(0.25);
  transform-origin: 29% 73%;
}
.walkthrough .screens .media.comm .icon:nth-child(2) {
  transform-origin: 66% 85%;
}
.walkthrough .screens .screen {
  opacity: 0;
  position: absolute;
  transform: translateX(-72px);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .screens .screen.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 0.4s;
}
.walkthrough .screens .screen.active ~ .screen {
  opacity: 0;
  transform: translateX(72px);
}
.walkthrough .screens .screen.active .media .statusBadge {
  opacity: 1;
  transform: scale(1.75);
}
.walkthrough .screens .screen.active .media.logo .logo {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.logo .statusBadge {
  transition-delay: 1s;
}
.walkthrough .screens .screen.active .media.books .icon {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.books .icon:nth-child(2) {
  transition-delay: 0.725s;
}
.walkthrough .screens .screen.active .media.books .icon:nth-child(3) {
  transition-delay: 0.85s;
}
.walkthrough .screens .screen.active .media.books .statusBadge {
  transition-delay: 1.4s;
}
.walkthrough .screens .screen.active .media.bars .icon {
  opacity: 1;
  transform: translate(0) scale(1);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.bars .icon:nth-child(2) {
  transition-delay: 1.05s;
}
.walkthrough .screens .screen.active .media.bars .icon:nth-child(3) {
  transition-delay: 0.925s;
}
.walkthrough .screens .screen.active .media.bars .icon:nth-child(4) {
  transition-delay: 0.8s;
}
.walkthrough .screens .screen.active .media.files .icon {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
}
.walkthrough .screens .screen.active .media.files .icon:nth-child(3) {
  transition-delay: 0.8s;
}
.walkthrough .screens .screen.active .media.files .icon:nth-child(2) {
  transition-delay: 0.7s;
}
.walkthrough .screens .screen.active .media.files .icon:nth-child(1) {
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.files .statusBadge {
  transition-delay: 1.6s;
}
.walkthrough .screens .screen.active .media.comm .icon {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.6s;
}
.walkthrough .screens .screen.active .media.comm .icon:nth-child(2) {
  transition-delay: 0.8s;
}
.walkthrough .screens .screen.active .media.comm .statusBadge {
  transition-delay: 1.6s;
}